import { Injectable, Module } from '@nestjs/common';

@Injectable()
export class SharedBuildService {
  read() {
    return 'rspack-shared-library';
  }
}

@Module({ providers: [SharedBuildService], exports: [SharedBuildService] })
export class SharedBuildModule {}
